TownOfSuper/obj/Release/netstandard2.1/TownOfSuper.pdb
TownOfSuper/obj/Release/netstandard2.1/TownOfSuper.GeneratedMSBuildEditorConfig.editorconfig
TownOfSuper/bin/Debug/netstandard2.1/TownOfSuper.dll
TownOfSuper/obj/Release/netstandard2.1/TownOfSuper.csproj.FileListAbsolute.txt
TownOfSuper/obj/Release/netstandard2.1/PublishOutputs.6283069267.txt
